.main {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;

    h2 {
        font-size: 26px;
    }

    .list {
        width: 70%;

        display: flex;

        .new,
        .inProgress {
            /*border-right: 1px solid var(--color-border);*/
        }

        .new,
        .inProgress,
        .done {
            width: 100%;

            display: flex;
            flex-direction: column;

            gap: 10px;

            .header {
                width: 90%;

                z-index: 1;

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                border-bottom: 1px solid var(--color-border);

                .title {
                    display: flex;
                    align-items: center;

                    gap: 5px;
                    padding: 3px 7px;
                    margin-bottom: 5px;

                    font-size: 14px;
                    font-weight: bold;

                    color: var(--color-text);
                    background-color: var(--color-background-mute);

                    border: 1px solid var(--color-border);
                    border-radius: 8px;
                }

                button {
                    cursor: pointer;
                    padding-left: 5px;
                    
                    border: none;
                    background: transparent;
                    outline: none;

                    color: var(--color-text);


                    transition: 0.2s ease-in-out;

                    &:hover {
                        scale: 1.2;
                    }
                }
            }

            .content {
                height: 100%;

                .drag {
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                }

                .item {
                    position: relative;

                    width: 90%;
                    display: flex;
                    flex-direction: column;

                    gap: 5px;
                    padding: 10px;

                    cursor: move;
                    border: 1px solid transparent;
                    border-radius: 10px;
                    background-color: var(--color-background);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    transition: all 0.2s;

                    .title {
                        max-width: 70%;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        font-weight: 500;
                        font-size: 14px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 12px;
                    }


                    &:hover {
                        border: 1px dashed var(--color-border);
                        background-color: var(--color-background-mute);
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                    }

                    &.dragging {
                        border: 2px solid #999;
                        background-color: #000000;
                        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                    }


                }
            }

        }
    }
}

.small-title {
    font-size: 14px !important;
}

.dp__input_icon {
    stroke: var(--color-text) !important;
    fill: var(--color-text) !important;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;

    font-size: 14px;
    color: var(--color-warning);
}

.hide {
    display: none;
}

.shake {
    animation: shake 0.5s;
}

.left-enter-active {
    animation: left-anim 0.5s;
}

.left-leave-active {
    animation: left-anim 0.5s reverse;
}

@keyframes left-anim {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@media (max-width: 1200px) {
    .main {
        width: 100%;

        .list {
            width: 90%;

            margin-top: 20px;

            .new {
                margin: 0;
            }

            .new,
            .inProgress,
            .done {

                .title {
                    justify-content: center;
                    font-size: 16px;
                }

            }


        }
    }
}

@media (max-width: 992px) {
    .main {
        .list {
            width: 100%;
            margin: 20px 0;

            flex-direction: column;
            gap: 20px;

            .column {
                width: 50%;

                display: flex;
                align-items: center;

                margin: 0 auto;

                .header {
                    width: 100%;

                    background-color: var(--color-background-mute);
                    padding: 5px;

                    border-radius: 10px;
                }

                .content {
                    width: 100%;

                    .drag {
                        .item {
                            width: 100%;
                            margin: 0 auto;
                        }
                    }

                }


            }


        }
    }
}

@media (max-width: 768px) {
    .main {
        align-items: start;

        margin-top: 0;

        .form {
            width: 95%;
            height: 50%;

        }

        .list {
            .column {
                width: 90%;
            }

        }
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
