header {
  position: relative;
  height: 10vh;

  display: flex;
  align-items: center;
  padding: 10px 0;

  .profile {
    position: absolute;

    right: 3%;

    button {
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 5px;

      padding: 4px 10px;
      font-family: "Rubik", sans-serif;
      font-size: 12px;

      background: inherit;
      outline: none;
      color: var(--color-text);
      border: 1px solid var(--color-border);
      border-radius: 8px;

      transition: 0.3s ease-in-out;

      &:hover {
        scale: 1.05;
      }
    }
  }
}

.modal {
  z-index: 1000;
  position: absolute;

  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  width: 40%;
  height: 300px;

  display: flex;
  align-items: center;

  background-color: var(--color-background-mute);

  border: 1px solid var(--color-border);
  border-radius: 10px;

  .warning {
    position: absolute;

    bottom: 3%;
    left: 50%;

    transform: translateX(-50%);

    text-align: center;

    font-size: 12px;
    font-weight: 300;

    color: var(--color-warning);
  }

  .close {
    cursor: pointer;
    position: absolute;

    top: 5%;
    right: 3%;

    border: none;
    background: none;
    outline: none;

    color: var(--color-text);

    transition: 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .content {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    gap: 10px;

    border-right: 1px solid var(--color-border);

    h2 {
      height: 30px;

      display: flex;
      align-items: center;
      gap: 5px;

      font-size: 20px;
    }

    .form {
      display: flex;
      align-items: center;

      gap: 2px;

      input {
        width: 90%;
        height: 30px;

        padding: 0 0 0 10px;

        font-family: "Rubik", sans-serif;

        background: var(--color-border);
        /* border: 1px solid var(--color-text); */
        border: none;
        outline: none;
        border-radius: 8px;

        color: var(--color-text);

        transition: 0.3s ease-in-out;
      }

      button {
        cursor: pointer;

        background: inherit;
        outline: none;
        color: var(--color-text);
        border: none;

        transition: 0.3s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }

  .stats {
    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    padding: 20px;
    gap: 5px;

    .name {
      text-decoration: underline;
      padding: 10px 0;
    }

    .item {
      display: flex;
      align-items: center;

      justify-content: space-between;

      gap: 2px;

      p {
        width: 50%;
        display: flex;
        align-items: center;

        gap: 5px;

        padding: 3px 10px;
        background-color: var(--color-border);

        border-radius: 5px;
      }

      span {
        font-weight: 300;
      }

      /* border-bottom: 1px solid var(--color-border); */
    }
  }
}

.scale {
  scale: 1.05;
}

@media (max-width: 1200px) {
  .modal {
    width: 55%;
    height: 40vh;

    .warning {
      width: 60%;
    }
  }
}

@media (max-width: 992px) {
  .modal {
    width: 60%;
    height: 55vh;

    top: 45%;

    flex-direction: column;
    padding: 30px 0;

    .content {
      width: 90%;
      height: 50%;
      border-right: none;
      border-bottom: 1px solid var(--color-border);
    }

    .stats {
      width: 90%;
    }
  }
}

@media (max-width: 680px) {
  .modal {
    width: 80%;
    height: 70vh;
    top: 50%;
  }
}
