@import "./base.css";
@import "./fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;

    color: var(--color-text);
    background: var(--color-background);

    transition: color 0.5s,
    background-color 0.5s;

    font-family: "Rubik", sans-serif;

    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;

    .container {
        display: flex;
        align-items: center;

        gap: 5px;

        .item {
            animation: rotate 2s linear infinite;
        }

        .text {
            p {
                font-size: 24px;
            }

            .sub {
                display: block;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
